@import "../../style/variables.scss";

.app {
  &__banner {
    width: 100%;
    background-color: $dark;
    height: 100px;
    padding: 0 25px 0 45px;
    &-text {
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #ffffff;
      padding-left: 83px;
      padding-top: 18px;
    }
  }
}

@media (max-width: 992px) {
  .app {
    &__banner {
      padding: 0 5px 0 5px;
      &-text {
        font-size: 23px;
        padding-left: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .app {
    &__banner {
      &-text {
        font-size: 19px;
        line-height: 21px;
        padding-left: 30px;
      }
    }
  }
}

@media (max-width: 576px) {
  .app {
    &__banner {
      display: none;
    }
  }
}
