@import "../../../style/variables.scss";

.single-comic {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 293px 550px auto;
  column-gap: 50px;
  align-items: start;
  &__char-img {
    width: 293px;
    height: 293px;
  }
  &__name {
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
  }
  &__descr {
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
    word-break: break-all;
  }
  &__back {
    justify-self: end;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    &:hover {
      color: $main-color;
    }
  }
}

@media (max-width: 1199px) {
  .single-comic {
    grid-template-columns: 293px 550px;
    &__back {
      grid-column: 2/3;
    }
  }
}

@media (max-width: 992px) {
  .single-comic {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 768px) {
  .single-comic {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    &__char-img {
      width: 200px;
      height: 200px;
    }
    &__back {
      align-self: end;
      justify-self: end;
    }
  }
}

@media (max-width: 576px) {
  .single-comic {
    grid-template: 1fr 1fr auto/ 1fr;
    margin-top: 17px;
    place-items: center;
    &__char-img {
      width: 100%;
      height: 100%;
    }
    &__info {
      grid-row: 2/3;
    }
    &__back {
      margin-top: 60px;
      align-self: end;
      justify-self: center;
      grid-column: auto;
    }
  }
}
